<html>
	<body>
	<h1>Sign up</h1>
	<p th:text="*{message}"></p>
	<form action="/user/register" th:object="${user}" method="POST" enctype="utf8">
	    <div>
	        <label>Username</label>
	        <input th:field="*{username}"/>
	    </div>
	    <div>
	        <label>Password</label>
	        <input type="password" th:field="*{password}"/>
	    </div>
	    <div>
	        <label>Confirm password</label>
	        <input type="password" th:field="*{passwordMatch}"/>
	    </div>
	    <button type="submit">Sign up</button>
	</form>

	<a th:href="@{/login.html}">login</a>
	</body>
</html>
